.btn-primary {
    background-color: $mainBlue;
    border-color: darken($mainBlue, 10%);
    color: $textColor;
    font-family: sarpanchRegular;
    text-transform: uppercase;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: $mainYellow;
        border-color: darken($mainYellow, 10%);
        color: $textColor;
    }
    &:focus,
    &:active,
    &:focus:active {
        background-color: $mainColorDarken;
        border-color: darken($mainColorDarken, 10%);
        color: $textColor;
    }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: $mainColorDarken;
    border-color: darken($mainColorDarken, 10%);
    color: $textColor;
}

.btn-secondary {
    background-color: $mainDarkBlue;
    border-color: darken($mainDarkBlue, 10%);
    color: $backgroundColor;
    font-family: sarpanchRegular;
    text-transform: uppercase;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: $mainLighterBlue;
        border-color: darken($mainLighterBlue, 10%);
        color: $backgroundColor;
    }
    &:focus,
    &:active,
    &:focus:active {
        background-color: $mainLighterBlue;
        border-color: darken($mainLighterBlue, 10%);
        color: $backgroundColor;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: $mainLighterBlue;
    border-color: darken($mainLighterBlue, 10%);
    color: $backgroundColor;
}

a {
    color: $linkColor;
    &:hover {
        color: $linkColorDarken;
    }
}

.title {
    font-size: 3em;
    font-weight: bold;
}