$mainBlue: rgb(160, 201, 236);
$mainYellow: rgb(255, 249, 174);
$darkYellow: darken($mainYellow, 20%);
$mainDarkBlue: rgb(46, 61, 74);
$mainLighterBlue: #656f79;
$mainColor: $mainBlue;
$mainColorDarken: #82a8c9;
$textColor: $mainDarkBlue;
$linkColor: $mainBlue;
$linkColorDarken: #4894d6;
$backgroundColor: #ffffff;
$backgroundColorTransparent: rgba(255, 255, 255, 0.8);
$lightBackgroundColor: rgba(242, 242, 242, 0.5);
$linkBlogColor: #268ce3;
$green: #85bf85;
$red: #c67c7c;